* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  gap: 24px;
  background-color: #f5f5f7;
}
.head1 {
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: #f5f5f7cc;
}
.text1 {
  font-family: "Inter", sans-serif;
}
.s {
  width: 30px;
  height: 44px;
}
.ad {
  font-family: "Inter", sans-serif;
}
.ad {
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  font-size: 16px;
}
.color {
  background-image: url(color.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 48px;
  background-color: #f5f5f7cc;
  border-bottom: 54px;
}
.store {
  width: 100%;
  height: 275px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-family: "Inter", sans-serif;
  padding: 90px;
  font-size: 24px;
  background-color: #f5f5f7;
}
.h1 {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.help {
  flex-direction: column;
  gap: 24px;
  font-size: 18px;
}
.gift {
  width: 100%;
  padding-left: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  padding-top: 52px;
  background-color: #f5f5f7;
}

.card {
  /* width: 250px;
  height: 245px; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  flex-direction: column;
  width: 100vw;
}
.zurag {
  background-image: url(com.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  height: 75px;
}

.zurag1 {
  background-image: url(utas.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  height: 75px;
}
.zurag2 {
  background-image: url(pad.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* background-color: rgb(255, 255, 255); */
  width: 120px;
  height: 75px;
}
.zurag3 {
  background-image: url(tsag.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  height: 75px;
}
.zurag4 {
  background-image: url(shil.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  height: 75px;
}
.zurag5 {
  background-image: url(jihevch.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  height: 75px;
}
.zurag6 {
  background-image: url(tag.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  height: 75px;
}
.zurag7 {
  background-image: url(cont.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  height: 75px;
}
.zurag8 {
  background-image: url(speaker.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  height: 75px;
}
.zurag9 {
  background-image: url(utas2.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  height: 75px;
}
.zurag10 {
  background-image: url(alim.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  height: 75px;
}
.con1 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding-top: 52px;
  background-color: #f5f5f7;
  padding-left: 90px;
  font-family: "Inter", sans-serif;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
}
.latest {
  width: 100%;
  height: 100px;
  display: flex;
  font-family: "Inter", sans-serif;
  flex-direction: row;
  padding-left: 90px;
  align-items: center;
  background-color: #f5f5f7;
  padding-top: 52px;
}
.info {
  padding-top: 36px;
  padding-left: 36px;
}
.price {
  display: flex;
  padding-top: 36px;
  padding-left: 36px;
  gap: 6px;
  flex-direction: column;
  width: 300px;
}
.bagts1 {
  background-image: url(imac.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 500px;
  border-radius: 24px;

  /* position: relative; */
  scroll-snap-align: center;
  flex-shrink: 0;
  justify-content: center;
}
.bagts2 {
  background-image: url(16pro.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 500px;

  border-radius: 24px;
  position: relative;
  scroll-snap-align: center;
  flex-shrink: 0;
  color: #ffffff;
}
.bagts3 {
  background-image: url(mini.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 500px;
  border-radius: 24px;

  position: relative;
  scroll-snap-align: center;
  flex-shrink: 0;
}
.bagts4 {
  background-image: url(hartsag.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 500px;
  border-radius: 24px;

  position: relative;
  scroll-snap-align: center;
  flex-shrink: 0;
}
.bagts5 {
  background-image: url(origjihevch.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 500px;
  border-radius: 24px;

  position: relative;
  scroll-snap-align: center;
  flex-shrink: 0;
}
.bagts6 {
  background-image: url(tsenher16.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 500px;
  border-radius: 24px;

  position: relative;
  scroll-snap-align: center;
  flex-shrink: 0;
  color: #ffffff;
}
.bagts7 {
  background-image: url(goytsag.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 500px;
  border-radius: 24px;

  position: relative;
  scroll-snap-align: center;
  flex-shrink: 0;
  color: #ffffff;
}
.bagts8 {
  background-image: url(future.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 500px;
  border-radius: 24px;

  position: relative;
  scroll-snap-align: center;
  flex-shrink: 0;
}
.bagts9 {
  background-image: url(bigmac.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 500px;
  border-radius: 24px;

  position: relative;
  scroll-snap-align: center;
  flex-shrink: 0;
}
.bagts10 {
  background-image: url(nuurs.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 500px;
  border-radius: 24px;

  position: relative;
  scroll-snap-align: center;
  flex-shrink: 0;
  color: #ffffff;
}
.pick {
  height: 600px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding-top: 52px;
  background-color: #f5f5f7;
  padding-left: 90px;
  font-family: "Inter", sans-serif;
  /* scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow-x: scroll; */
}
.board1 {
  background-image: url(kind.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  /* width: 300px;
  height: 500px; */
  border-radius: 24px;
  /* position: relative; */
  scroll-snap-align: center;
  flex-shrink: 0;
  border-radius: 24px;
  padding-top: 48px;
  padding-left: 12px;
  width: 400px;
  height: 500px;
}
.board2 {
  /* background-image: url(kk.jpg);
  background-repeat: no-repeat;
  background-size: contain; */
  width: 300px;
  height: 500px;
  border-radius: 24px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.kk {
  display: flex;
  padding-left: 36px;
  padding-top: 48px;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.mm {
  background-image: url(colors.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  width: 300px;
  height: 68px;
  padding-left: 24px;
  object-fit: cover;
}
.nm {
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  width: 300px;
  height: 68px;
  padding-left: 24px;
  object-fit: cover;
}
.bext {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 24px;
  gap: 40px;
  padding-top: 24px;
  font-family: "Inter", sans-serif;
}
.vext {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 24px;
  gap: 36px;
  padding-top: 0px;
  font-family: "Inter", sans-serif;
}
.bagts {
  background-image: url(bagts.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  /* width: 300px;
  height: 500px; */
  border-radius: 24px;
  /* position: relative; */
  scroll-snap-align: center;
  flex-shrink: 0;
  border-radius: 24px;
  padding-top: 48px;
  padding-left: 12px;
  width: 400px;
  height: 500px;
}
.only {
  height: 600px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding-top: 52px;
  background-color: #f5f5f7;
  padding-left: 90px;
  font-family: "Inter", sans-serif;
}
.tor {
  background-image: url(tor.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 520px;
  border-radius: 24px;
}
.hand {
  background-image: url(hand.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 520px;
  border-radius: 24px;
}
.get {
  width: 300px;
  padding-left: 36px;
  padding-top: 36px;
  font-size: 28px;
  font-family: "Inter", sans-serif;
}

.miss {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--gap);
  flex: 1 1 620px;
  border: 1px solid black;
  padding-top: 20px;
}
/* .miss1 {
  border: 1px solid black;
  gap: 12px;
  height: 250px;
}
.miss2 {
  border: 1px solid black;
  gap: 12px;
  height: 250px;
} */
.human {
  background-image: url(humans.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 480px;
  border-radius: 24px;
}
.nohoi {
  background-image: url(nohoi.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 480px;
  border-radius: 24px;
  color: #ffffff;
}
.apps {
  background-image: url(apps.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 480px;
  border-radius: 24px;
}
.a123 {
  background-image: url(a123.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 480px;
  border-radius: 24px;
}
.op {
  background-image: url(op.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  border-radius: 24px;
}
.zail {
  background-image: url(zail.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  border-radius: 24px;
}
.rich {
  background-image: url(rich.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  border-radius: 24px;
}
.maria {
  background-image: url(maria.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  border-radius: 24px;
  color: #ffffff;
}
.turuu {
  background-image: url(turuu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  border-radius: 24px;
}
.last {
  width: 100%;
  height: 60px;
  display: flex;
  font-family: "Inter", sans-serif;
  flex-direction: row;
  padding-left: 90px;
  align-items: center;
  background-color: #f5f5f7;
  gap: 18px;
}
.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid gray;
  border-radius: 24px;
  width: 150px;
  height: 50px;
  gap: 6px;
}
.bow {
  width: 15px;
  height: 15px;
}
