* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero1 {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
  gap: 24px;
  /* background-image: url(hero1.png);
  height: 792px;
  width: 100vw; */
}
.head1 {
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: #f5f5f7cc;
}
.p1 {
  width: 100vw;
  position: absolute;
  padding-top: 97px;
}
.text1 {
  font-family: "Inter", sans-serif;
}
.ad {
  font-family: "Inter", sans-serif;
}
.pro {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  /* color: #f5f5f7; */
}
.apple {
  width: 18px;
  height: 44px;
}
.s {
  width: 30px;
  height: 44px;
}
.ad {
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.more {
  width: 123px;
  height: 44px;
  background-color: #0071e3;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.buy {
  width: 68px;
  height: 44px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2997ff;
  border: 1px solid #2997ff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.pro1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pro2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}
.pro {
  width: 100vw;
  color: #f5f5f7;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 36px;
  background-image: url(hero1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 792px;
  padding-top: 36px;
}
.hpro {
  font-family: "Inter", sans-serif;
  size: 16px;
}
.hpro {
  width: 100vw;
  color: #f5f5f7;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 36px;
  background-image: url(Figure.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 792px;
  padding-top: 36px;
  font-size: 24px;
}
.hero2 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.hero3 {
  width: 100vw;
  background-image: url(h3.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 792px;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 520px;
  font-size: 22px;
  gap: 12px;
}
.shop {
  width: 150px;
  height: 48px;
  background-color: #0071e3;
  color: #f5f5f7;
  border-radius: 24px;
  gap: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero4 {
  width: 100vw;
  padding-top: 12px;
  gap: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.hero4 > div {
  height: 680px;
  width: 100%;
  border: 1px solid black;
}
.grid1 {
  background-image: url(grid1.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-top: 36px;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  gap: 12px;
  font-size: 22px;
  color: #1d1d1f;
}
.int {
  display: flex;
  flex-direction: row;
  padding-top: 420px;
}
.grid2 {
  background-image: url(grid2.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-top: 470px;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  gap: 18px;
  font-size: 22px;
  color: #f5f5f7;
}
.grid3 {
  background-image: url(grid3.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-top: 42px;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  gap: 12px;
  font-size: 22px;
  color: #1d1d1f;
}
.Vector {
  width: 36px;
  height: 42px;
}
.watch {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  font-size: 36px;
}
.trade {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  font-size: 36px;
}
.grid4 {
  background-image: url(grid4.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-top: 42px;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  gap: 18px;
  font-size: 22px;
}
.grid5 {
  background-image: url(grid5.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-top: 42px;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  gap: 18px;
  font-size: 22px;
}
.est {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-direction: row;
  background-color: #0071e3;
  border-radius: 24px;
  color: #ffffff;
  width: 235px;
  height: 40px;
}
.grid6 {
  background-image: url(grid6.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-top: 42px;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  gap: 18px;
  font-size: 22px;
}
.apply {
  width: 123px;
  height: 44px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2997ff;
  border: 1px solid #2997ff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.scroll {
  width: 100vw;
  display: flex;
  column-gap: 15px;
  overflow-x: scroll;
  align-items: center;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  padding-top: 12px;
}
.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Inter", sans-serif;
  size: 24px;
  gap: 24px;
  padding-top: 580px;
  padding-left: 80px;
}

.movie1 {
  background-image: url(movie1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 668px;
  width: 1250px;
  color: white;
  flex-shrink: 0;
  font-size: 20px;
  position: relative;
  scroll-snap-align: center;
}
.movie2 {
  background-image: url(bad-monkey.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 668px;
  width: 1250px;
  color: white;
  flex-shrink: 0;
  font-size: 20px;
  position: relative;
  scroll-snap-align: center;
}
.movie3 {
  background-image: url(baseball.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 668px;
  width: 1250px;
  color: white;
  flex-shrink: 0;
  font-size: 20px;
  position: relative;
  scroll-snap-align: center;
}
.movie4 {
  background-image: url(instigators.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 668px;
  width: 1250px;
  color: white;
  flex-shrink: 0;
  font-size: 20px;
  position: relative;
  scroll-snap-align: center;
}
.movie5 {
  background-image: url(k-pop-idols.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 668px;
  width: 1250px;
  color: white;
  flex-shrink: 0;
  font-size: 20px;
  position: relative;
  scroll-snap-align: center;
}
.movie6 {
  background-image: url(lady-in-the-lake.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 668px;
  width: 1250px;
  color: white;
  flex-shrink: 0;
  font-size: 20px;
  position: relative;
  scroll-snap-align: center;
}
.movie7 {
  background-image: url(morning-show.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 668px;
  width: 1250px;
  color: white;
  flex-shrink: 0;
  font-size: 20px;
  position: relative;
  scroll-snap-align: center;
}

.movie8 {
  background-image: url(pachinko.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 668px;
  width: 1250px;
  color: white;
  flex-shrink: 0;
  font-size: 20px;
  position: relative;
  scroll-snap-align: center;
}
.movie9 {
  background-image: url(pressumed-innocent.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 668px;
  width: 1250px;
  color: white;
  flex-shrink: 0;
  font-size: 20px;
  position: relative;
  scroll-snap-align: center;
}
.movie10 {
  background-image: url(season-pass.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 668px;
  width: 1250px;
  color: white;
  flex-shrink: 0;
  font-size: 20px;
  position: relative;
  scroll-snap-align: center;
}
button {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
  padding: 11px 21px;
  margin-right: 14px;
  border-radius: 999px;
  background-color: #f5f5f7;
  left: 47px;
  bottom: 38px;
  border: none;
  flex-direction: row;
}
.slide {
  width: 100vw;
  height: 240px;
  padding-top: 12px;
  border: 1px solid black;
  gap: 12px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
/* .slide1 {
  background-image: url(slide1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slide2 {
  background-image: url(2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slide3 {
  background-image: url(3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slide4 {
  background-image: url(4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slide5 {
  background-image: url(5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slide6 {
  background-image: url(6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slide7 {
  background-image: url(7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slide8 {
  background-image: url(8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slide9 {
  background-image: url(9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slide10 {
  background-image: url(10.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} */
